.searching__results {
  margin-top: 25px;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__text {
    &__small {
      font-size: 0.6em;
      color: $primary-color-orange;
    }
  }

  &__box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    justify-items: center;
    align-content: center;
    align-items: center;

    &__img {
      width: 200px;
    }

    &__title {
      font-size: 25px;
      color: $color-text-gray;
    }
  }
}
