.character__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
  background-color: $color-text-gray;
  box-shadow: 3px 3px 5px #000;
  border-radius: 10px;
  color: #fff;
  font-size: 22px;

  &__img {
    width: 100px;
    margin-bottom: 20px;
    border-radius: 50px;
  }

  &__name {
    text-align: center;
    margin-bottom: 20px;
  }
}
