.not__found {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  &__button {
    padding: 30px;
    border: 2px solid rgb(255, 188, 62);
    transition: all 0.3s ease;

    &:hover {
      background-color: rgb(255, 193, 77);
    }
  }
}
